name: Update Tango-Controls Mappings (v0 + v1)

on:
  schedule:
    # run the job every 10 minutes
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  update:
    permissions:
      contents: write
    uses: ./.github/workflows/update_channel_v0_v1.yml
    with:
      channel: tango-controls
      use_legacy_mapping: true
      needs_anaconda_token: true
    secrets:
      R2_PREFIX_ACCOUNT_ID: ${{ secrets.R2_PREFIX_ACCOUNT_ID }}
      R2_PREFIX_ACCESS_KEY_ID: ${{ secrets.R2_PREFIX_ACCESS_KEY_ID }}
      R2_PREFIX_SECRET_ACCESS_KEY: ${{ secrets.R2_PREFIX_SECRET_ACCESS_KEY }}
      R2_PREFIX_BUCKET: ${{ secrets.R2_PREFIX_BUCKET }}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      ANACONDA_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
