name: Update PyTorch Mappings (v0 + v1)

on:
  schedule:
    # run the job every 30 minutes
    - cron: '*/30 * * * *'
  workflow_dispatch:
    inputs:
      force_v1_generation:
        description: 'Force v1 mappings generation even if no new packages'
        required: false
        type: boolean
        default: false

jobs:
  update:
    permissions:
      contents: write
    uses: ./.github/workflows/update_channel_v0_v1.yml
    with:
      channel: pytorch
      use_legacy_mapping: false
      needs_anaconda_token: false
      force_v1_generation: ${{ inputs.force_v1_generation || false }}
    secrets:
      R2_PREFIX_ACCOUNT_ID: ${{ secrets.R2_PREFIX_ACCOUNT_ID }}
      R2_PREFIX_ACCESS_KEY_ID: ${{ secrets.R2_PREFIX_ACCESS_KEY_ID }}
      R2_PREFIX_SECRET_ACCESS_KEY: ${{ secrets.R2_PREFIX_SECRET_ACCESS_KEY }}
      R2_PREFIX_BUCKET: ${{ secrets.R2_PREFIX_BUCKET }}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
